.navbar ul{
    list-style-type: none;
    background-color: #70a73b;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
	font-size:22px;
	padding: 15px 30px;
    display: inline-block; 
	transition: transform 0.3s ease, background-color 0.3s ease; 
}

.navbar a:hover{
	transform: scale(1.2);
    background-color: #56802d;
}

.navbar li{
    float: left;
}
.background {
    background-image: url('join.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}